spring:
  application:
    name: Blue Velvet Music Store

  datasource:
    url: jdbc:mysql://localhost:3306/db?useSSL=false&serverTimezone=America/Sao_Paulo&allowPublicKeyRetrieval=true
    username: gestao
    password: gestao-pass
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

server:
  port: 8080

logging:
  level:
    com.musicstore.bluevelvet: DEBUG
    org.hibernate.SQL: DEBUG
